name: isoxmlviz

on: [ workflow_dispatch, push, pull_request ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest twine
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install -e .
          

#      - name: Lint with flake8
#       run: |
# stop the build if there are Python syntax errors or undefined names
#        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
# exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#       flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics


#   - name: Test with pytest
#     run: |
#      pytest


#      - name: Build package
#        run: |
#          sh set-ci-version.sh

      - name: Build package
        run: |
          python -m build

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: isoxmlviz
          path: ./**/dist/isoxmlviz-*.whl


#      - name: Upload package
#        run: |
#          twine upload dist/*
#        env:
#          TWINE_USERNAME: ${{ env.TWINE_USER }}
#          TWINE_PASSWORD: ${{ env.TWINE_PASSWORD }}
##          TWINE_REPOSITORY_URL:

